<div class-="container">
     <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <ul class="navbar-nav">
               <li>
                    <a routerLink="employees" routerLinkActive="active" class="nav-link">Employess</a>
               </li>
               <li>
                    <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Employess</a>
               </li>
               <li  class="titleDesc"><h3>{{title}}</h3></li>
          </ul>
     </nav>

     
     <div class="container">
          <router-outlet></router-outlet>
     </div>
</div>